<%- include _header.ejs %>
<%- include _navbar.ejs %>
  <h2><%= word %></h2>
  <a href="/api/random" id="newWord" class="btn">New Word</a>

<%- include _globalscripts.ejs %>
  <script>
    (function($){
      $('#newWord').on('click', function(e){
        $btn = $(e.target);

        if($btn.attr('data-clicked') !== 'true') {
          $btn.attr('data-clicked', 'true');
          $.ajax({
            url: $btn.attr('href'),
            dataType: 'json',
            success: function(res) {
              $('h2').html(res.wordList[0]);
              $btn.attr('data-clicked', 'false');
            },
            error: function(res) {
              $btn.attr('data-clicked', 'false');
            }
          });
        }

        return false;
      });
    })(jQuery);
  </script>
<%- include _footer.ejs %>
